{% extends "base.html" %}
{% load static %}

{% comment %} {% block extra_title %}{% endblock %} {% endcomment %}

{% block content %}
<main id="main" class="wrapper">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Add New Project</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">My Projects</a></li>
            <li>Add Project</li>
          </ol>
        </div>
      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Add Project Details Section ======= -->
    <section id="form-details" class="form-details section-bg">
        <div class="container">
        
            <div class="row" >
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                
                </div>

                <div class="col-lg-4 form-wrapper">
                    <form method="POST"  class="post-form mb-2" action="{% url 'add_project' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == 'project_name' %}
                                <label class="form-field-label" for="pn-field"> Enter a project name </label>
                                <div class="form-field" id="pn-field"> {{ field }} </div>
                            {% elif field.name == 'description' %}
                                <label class="form-field-label" for="desc-field"> Enter a description </label>
                                <div class="form-field" id="desc-field"> {{ field }} </div>
                            {% elif field.name == 'type' %}
                                <label class="form-field-label" for="type-field"> Choose a type </label>
                                <div class="form-field" name="type-field" id="type-field"> {{ field }} </div>
                            {% endif %}
                        {% endfor %}
                        <div class="form-field" name="type-price" id="type-price"> Price: ${{ Price }} </div>
                        <div class="button-wrapper">
                                    <a class="button" href="{% url 'home' %}">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Cancel Order</span>
                            </a>
                            <button class="button" type="submit">
                                <span class="text-uppercase">Add to Cart</span>
                                <span class="icon">
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                            </button>
                        </div>            
                    </form>
                </div>            
            </div>    
        </div>
    </section><!-- End Add Project-->
</main><!-- End #main -->

{% endblock %}

{% block postload_js %}
    <!-- Get Price JS File -->
    <script src="{% static 'js/getPrice.js' %}"></script>

{% endblock %}
