{% extends "base.html" %}
{% load static %}
{% load cart_tools%}

{% block extra_title %}My Cart{% endblock %}


{% block extra_css %}
{% endblock %}

{% block content %}
    <main id="main" class="wrapper">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>My Cart</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="" class="active">My Cart</a></li>
                        <li></li>
                    </ol>
                </div>
                 <!-- Another another button -->
                <div class="row">
                    <div class="col">
                        <div class="button-wrapper">
                            {% if cart_items %}
                                <a href="{% url 'add_project' %}" class="button">Add Another Project</a>
                            {% else %}
                                <a href="{% url 'add_project' %}" class="button">Add Project</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End add another button-->
            </div>
        </section>
        <!-- End Breadcrumbs Section -->
        <!-- Cart Section -->
        <section class="inner-page section-bg wrapper">
            <div class="container" >
                <div class="row">
                    <div>
                        {% if cart_items %}
                            <div class="cart-info">
                                <div class="row cart-rows">
                                    <div class="col">
                                        <h5>A summary of your cart contents is below</h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <p class="cart-label">Project Name</p>
                                    </div>
                                    <div class="col">
                                        <p class="cart-label">Project Type</p>
                                    </div>
                                    <div class="col">
                                        <p class="cart-label">Price</p>
                                    </div>
                                </div>
                                <hr>
                                {% for item in cart_items %}
                                    <div class="row cart-rows">
                                        <div class="col" id="cart-pn">
                                            {{ item.project_name }}
                                        </div>
                                        {% if item.project_type == 1 %}
                                            <div class="col" id='type-name'>Icon</div>
                                        {% elif item.project_type == 2 %}
                                            <div class="col" id='type-name'>Logo</div>
                                        {% elif item.project_type == 3 %}
                                            <div class="col" id='type-name'>Poster</div>
                                        {% elif item.project_type == 4 %}
                                            <div class="col" id='type-name'>Portrait/Mural</div>
                                        {% endif %}
                                        <div class="col order-sm-last" id='cart-price'>
                                            <p class="my-0">${{ item.price }}</p>
                                        </div>
                                    </div>
                                {% endfor %}

                                <hr>
                                <h6 class="mt-4 cart-total"><strong>Cart Total: ${{ grand_total|floatformat:2 }}</strong></h6>
                            </div>
                            <div class="row">

                            </div>
                            <div class="button-wrapper">
                                <a class="button" href="{% url 'projects' %}">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Adjust Order</span>
                                </a>
                                <a class="button" href="{% url 'checkout' %}">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                        {% else %}
                            <p class="lead mb-5" style="text-align: center">Your cart is empty.</p>
                        {% endif %}
                    </div>
                    </div>
            </div>
        </section>
        <!-- End Cart-->

    </main>
    <!-- End #main -->

{% endblock %}

{% block postload_js %}
{% endblock %}