{% extends "base.html" %}
{% load static %}

{% block extra_title %}My Cart{% endblock %}


{% block extra_css %}
{% endblock %}

{% block content %}
    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>My Cart</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="" class="active">My Cart</a></li>
                        <li></li>
                    </ol>
                </div>
                 <!-- Another another button -->
                <div class="row">
                    <div class="col">
                        <div class="button-wrapper">
                            {% if cart_items %}
                                <a href="{% url 'add_project' %}" class="button">Add Another Project</a>
                            {% else %}
                                <a href="{% url 'add_project' %}" class="button">Add Project</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End add another button-->
            </div>
        </section>
        <!-- End Breadcrumbs Section -->
        <!-- Cart Section -->
        <section class="inner-page section-bg">
            <div class="container" >
                <div class="row">
                    <div class="row">
                        <div class="col">
                            {% if cart_items %}
                                <div class="project-info">
                                    <p>cart info will go here</p>
                                </div>
                            {% else %}
                                <p class="lead mb-5" style="text-align: center">Your cart is empty.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Cart-->

    </main>
    <!-- End #main -->

{% endblock %}

{% block postload_js %}
{% endblock %}