{% extends "base.html" %}
{% load static %}
{% load cart_tools%}

{% block extra_title %}My Cart{% endblock %}


{% block extra_css %}
<link href="{% static 'css/cart.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main id="main" class="wrapper">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>My Cart</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="" class="active">My Cart</a></li>
                        <li></li>
                    </ol>
                </div>
                 <!-- Another another button -->
                <div class="row">
                    <div class="col">
                        <div class="button-wrapper">
                            {% if cart_items %}
                                <a href="{% url 'add_project' %}" class="button">Add Another Project</a>
                            {% else %}
                                <a href="{% url 'add_project' %}" class="button">Add Project</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End add another button-->
            </div>
        </section>
        <!-- End Breadcrumbs Section -->
        <!-- Cart Section -->
        <section class="inner-page section-bg wrapper">
            <div class="container" >
                <div class="row">
                    <div>
                        {% if cart_items %}
                            <div class="cart-info">
                                <div class="row cart-rows">
                                    <div class="col">
                                        <h5>A summary of your cart contents is below</h5>
                                    </div>
                                </div>
                                <hr>
                                <form class="form update-form" method="POST" action="{% url 'add_project' %}">
                                    {% csrf_token %}
                                    <div class="table-fixed rounded d-none d-md-block">
                                        <table class="table table-sm table-borderless" style="width=100%">
                                            <thead class="cart-label">
                                                <tr>
                                                    <th scope="col">Project Name</th>
                                                    <th scope="col">Project Type</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Adjust Cart</th>
                                                </tr>
                                            </thead>
                                            {% for item in cart_items %}
                                            <tr class="cart-rows">
                                                <td class="col" id="cart-pn">
                                                    {{ item.project_name }}
                                                </td>
                                                <td class="col">
                                                    {% if item.project_type == 1 %}
                                                        Icon
                                                    {% elif item.project_type == 2 %}
                                                        Logo
                                                    {% elif item.project_type == 3 %}
                                                        poster
                                                    {% elif item.project_type == 4 %}
                                                        Portrait/Mural
                                                    {% endif %}
                                                </td>
                                                <td class="col" id='cart-price'>${{ item.price }}</td>
                                                <td class="col">
                                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    <div>
                                </form>
                                <hr>
                               
                                <hr>
                                <div class="row">
                                    <div class=" col cart-total">
                                    </div>
                                    <div class=" col cart-total">
                                    </div>
                                    <div class=" col cart-total">
                                        <h6 class="mt-4 cart-total"><strong>Cart Total: $ {{ grand_total|floatformat:2 }}</strong></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="button-wrapper">
                                <a class="button" href="{% url 'checkout' %}">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                        {% else %}
                            <p class="lead mb-5" style="text-align: center">Your cart is empty.</p>
                        {% endif %}
                    </div>
                    </div>
            </div>
        </section>
        <!-- End Cart-->

    </main>
    <!-- End #main -->

{% endblock %}

{% block postload_js %}

<script>
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })
</script> 
{% endblock %}