{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
 

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Delete Profile</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Profile - Delete</li>
        </ol>
      </div>
    </div>
  </section><!-- Breadcrumbs Section -->

    <!-- ======= Profile Delete Section ======= -->
  <section class="section-bg">
    <div class="container">
      <div class="row banner">
        <div class="col-12 col-md-6">
          <div class="allauth-form-inner-content">
            <p>{% trans 'Are you sure you want to delete your profile?' %}</p>
  
            <form id="signout_form" method="post" action="{% url 'delete_profile' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <a class="button" href="{% url 'my_profile' %}">Back to My Profile</a>
              <button id="delete-profile" class="button" type="submit">{% trans 'Delete My Profile' %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- Profile Delete -->
</main><!-- End #main -->

{% endblock %}

