{% extends "base.html" %} 
{% load static %} 

{% block extra_title %}My Profile{%endblock %} 

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>My Profile</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>My Profile</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- Update Information -->
  <div class="container" id="profile-container">
    <div class="row justify-content-center align-items-center" id="profile-row">
      <div class="col-12 col-lg-4">
        <h5 class="text-muted">Username and Personal Information</h5>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Username:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ user.username }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Name:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ user.first_name }} {{ user.last_name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Email:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
        <h5 class="text-muted" id="default-delivery-information">Default Delivery Information</h5>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Phone Number:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ profile.default_phone_number }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Street Address 1:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ profile.default_street_address1 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Street Address 2:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ profile.default_street_address2 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Town or City:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ profile.default_town_or_city }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>State or County:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ profile.default_county }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Postcode:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ profile.default_postcode }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th>Country:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">{{ profile.default_country }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="button-wrapper">
          <a
            href="{% url 'edit_profile' %}"
            class="button float-right shown-button"
          >
            Edit Profile
          </a>
          <a
            href="{% url 'account_change_password' %}"
            class="button float-right shown-button"
          >
            Change Password
          </a>
          <a
            href="{% url 'delete_profile' %}"
            class="button shown-button"
            id="profile-delete-link"
          >
            Delete Profile
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- End Update Information-->
</main>

{% endblock %}