{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block extra_title %}Inactive Account{% endblock %}

{% block content %}
<main id="main" class="wrapper">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center">
              <h2>Inactive Account</h2>
              <ol>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="" class="active">Inactive Account</a></li>
                  <li></li>
              </ol>
          </div>
      </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <!-- Logout Section -->
  <section class="inner-page section-bg wrapper">
    <div class="container" >
        <div class="row">
            <h1>{% trans "Account Inactive" %}</h1>

            <p>{% trans "This account is inactive." %}</p>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End Inactive Account-->

{% endblock %}
