<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
***REMOVED***% block extra_head %}
***REMOVED***% endblock %}
  </head>
  <body>
***REMOVED***% block body %}

***REMOVED***% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
    ***REMOVED***% for message in messages %}
        <li>{{message}}</li>
    ***REMOVED***% endfor %}
      </ul>
    </div>
***REMOVED***% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
    ***REMOVED***% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
    ***REMOVED***% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    ***REMOVED***% endif %}
      </ul>
    </div>
***REMOVED***% block content %}
***REMOVED***% endblock %}
***REMOVED***% endblock %}
***REMOVED***% block extra_body %}
***REMOVED***% endblock %}
  </body>
</html>
