{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans 'Confirm' %}{% endblock %}

{% block extra_title %}Confirm Email{% endblock %}

{% block content %}
<main id="main" class="wrapper">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center">
              <h2>Confirm Email</h2>
              <ol>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="" class="active">Confirm Email</a></li>
                  <li></li>
              </ol>
          </div>
      </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <!-- Confirm Email Section -->
  <section class="inner-page section-bg wrapper">
    <div class="container" >
        <div class="row">
            <h1>{% trans "Confirm E-mail Address" %}</h1>

            {% if confirmation %}
            
            {% user_display confirmation.email_address.user as user_display %}
            
            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
            
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button class="button" type="submit">{% trans 'Confirm' %}</button>
            </form>
            
            {% else %}
            
            {% url 'account_email' as email_url %}
            
            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a class="button button-wrapper" href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
            
            {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End Confirm Email-->

{% endblock %}
