{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans 'Sign Out' %}{% endblock %}

{% block extra_title %}Log Out{% endblock %}

{% block content %}
<main id="main" class="wrapper">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center">
              <h2>Log Out</h2>
              <ol>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="" class="active">Log Out</a></li>
                  <li></li>
              </ol>
          </div>
      </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <!-- Logout Section -->
  <section class="inner-page section-bg wrapper">
    <div class="container" >
        <div class="row banner">
          <h1>{% trans "Sign Out" %}</h1>

          <p>{% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="button" type="submit">{% trans 'Sign Out' %}</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End Logout-->

{% endblock %}
