{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_title %}Password Reset{% endblock %}

{% block content %}
<main id="main" class="wrapper">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center">
              <h2>Password Reset</h2>
              <ol>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="" class="active">Password Reset</a></li>
                  <li></li>
              </ol>
          </div>
      </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <!-- Password Section -->
  <section class="inner-page section-bg wrapper">
    <div class="container" >
        <div class="row banner">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
        
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End Password Reset-->

{% endblock %}

