{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_title %}Change Password{% endblock %}

{% block content %}
<main id="main" class="wrapper">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center">
              <h2>Change Password</h2>
              <ol>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="" class="active">Change Password</a></li>
                  <li></li>
              </ol>
          </div>
      </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <!-- Change Password Section -->
  <section class="inner-page section-bg wrapper">
    <div class="container" >
        <div class="row banner">
            <h1>{% trans "Change Password" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change banner">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button banner" type="submit" name="action">{% trans "Change Password" %}</button>
                <a class="button button-wrapper" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End Change Password-->

{% endblock %}

