{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_title %}Password Reset{% endblock %}

{% block content %}
<main id="main" class="wrapper">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center">
              <h2>Password Reset</h2>
              <ol>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="" class="active">Password Reset</a></li>
                  <li></li>
              </ol>
          </div>
      </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <!-- Password Reset Complete Section -->
  <section class="inner-page section-bg wrapper">
    <div class="container" >
        <div class="row banner">
            <h1>{% trans "Password Reset" %}</h1>
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>        
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End Password Reset Complete-->
{% endblock %}

