{% extends "base.html" %}
{% load static %}

{% block extra_title %}My Projects{% endblock %}


{% block extra_css %}
<link href="{% static 'css/filterCard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                <h2>My Projects</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="">My Projects</a></li>
                        <li></li>
                    </ol>
                </div>
                 <!-- Product Filter {% if current_filter == 'None_None' %}selected{% endif %} -->
    <div class="row">
        <div class="col">
            <form method="GET" action="{% url 'projects' %}">
                <div class="filter-select-wrapper">
                    <select class="custom-select custom-select-sm border"  id="filter-select" type="text" onChange="filterFunction(this)">
                        <option value="all"> Filter by...all </option>
                        <option value="icon">Icons</option>
                        <option value="logo">Logos</option>
                        <option value="poster">Posters</option>
                        <option value="portrait">Portraits</option>
                        <option value="mural">Murals</option>
                        {% comment %} <option value="completed">Completed</option>
                        <option value="inProgress">In Progress</option>
                        {% if request.user.is_superuser %}
                            <option value="paid">Paid</option>
                            <option value="unPaid">Unpaid</option>
                        {% endif %} {% endcomment %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <!-- End Project Filter -->
            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page">
            <div class="container col-10 offset-1" >
                <div class="row mt-1 mb-2">
                    <div class="row">
                        {% for project in projects %}
                            <div class="col-sm-12 col-md-6 col-lg-4 card-filter">
                                <div class="card-project">
                                    {% if project.image %}
                                    <a href="{% url 'project_detail' project.id %}">
                                        <img src="{{ project.image.url }}" alt="Project Image" style="width:75px">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'project_detail' project.id %}">
                                        <img src="{{ MEDIA_URL }}noimage.png" alt="Project Image" style="width:75px">
                                    </a>
                                    {% endif %}
                                    <div class="card-project-body">
                                        <p class="mb-0">Name: {{ project.project_name }}</p>
                                    </div>
                                    <div class="card-project-footer">
                                        <p class="mb-0">Type: {{ project.type }}</p>
                                        {% if project.completed %}
                                            <p>Project complete</p>
                                        {% else %}
                                            <p>Project in progress</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}     
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}

{% block postload_js %}
<script src="{% static 'js/filterCard.js' %}"></script>
{% endblock %}