[client***REMOVED***
host     = localhost
user     = root
password =
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade***REMOVED***
host     = localhost
user     = root
password =
socket   = /var/run/mysqld/mysqld.sock
