{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
        
    <title>Dee's Designs {% block extra_title %}{% endblock %}</title>
    <meta content="Online presence for Dee's Designs, boutique graphic design firm." name="description">
    <meta content="graphic design, logos, icons, posters, portaits" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'lonely/assets/img/DeesDesignsFavicon.ico' %}" rel="icon">
    <link href="{% static 'lonely/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&subset=cyrillic" rel="stylesheet">

    {% block corecss %}
    <!-- Vendor CSS Files -->
    <link href="{% static 'lonely/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lonely/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'lonely/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lonely/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'lonely/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    

    <!-- Template Main CSS File -->
    <link href="{% static 'lonely/assets/css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

  <!-- =======================================================
  * Template Name: Lonely - v4.7.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    {% block hero %}
    {% endblock %}

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href= "{% url 'home' %}">Dee's Designs</a></h1>
        </div>

      {% block navbar%}
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home' %}#about">About</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home' %}#services">Services</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home' %}#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home' %}#testimonials">Testimonials</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home' %}#contact">Contact</a></li>
                <li class="dropdown"><a href=""><span>My Account </span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}" class="dropdown-item">Site Management</a></li>
                            {% endif %}
                                <li><a href="{% url 'my_profile' %}" class="dropdown-item">My Profile</a></li>
                                <li><a href="{% url 'projects' %}" class="dropdown-item">My Projects</a></li>
                                <li><a href="{% url 'add_project' %}" class="dropdown-item">Add Project</a></li>
                                <li><a href="{% url 'view_cart' %}" class="dropdown-item">My Cart</a></li>
                                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                            <li><a href="{% url 'add_project' %}" class="dropdown-item">Add Project</a></li>
                            <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                        {% endif %}
                    </ul>                       
                </li>
                <!--$ cart_grand_total request -->
                {% if page == "cart" or page == "checkout" or page == "checkout_success" %}
                    <li><a href="{% url 'view_cart' %}" class="active" id="cart_header"><i class="fas fa-shopping-cart"> </i> 
                        <span class="cart_total">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </span></a>
                    </li>
                {% else %}
                    <li><a href="{% url 'view_cart' %}" id="cart_header"><i class="fas fa-shopping-cart"> </i>
                        <span class="cart_total">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </span></a>
                    </li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>    
        </nav><!-- .navbar -->
      {% endblock %}

    </div>
  </header><!-- End Header -->

  {% if messages %}
      <div class="message-container">
          {% for message in messages %}
              {% with message.level as level %}
                  {% if level == 40 %}
                      {% include 'includes/toasts/toast_error.html' %}
                  {% elif level == 30 %}
                      {% include 'includes/toasts/toast_warning.html' %}
                  {% elif level == 25 %}
                      {% include 'includes/toasts/toast_success.html' %}
                  {% else %}
                      {% include 'includes/toasts/toast_info.html' %}
                  {% endif %}
              {% endwith %}
          {% endfor %}
      </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Dee's Designs</span></strong>. All Rights Reserved
        </div>
        <div class="privacy-policy-link">
            View our <a href="/privacypolicy/">Privacy Policy</a>
          </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-lonely/ -->
            Template Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
        </div>
    </footer><!-- End  Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    {% block corejs %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <!-- Vendor JS Files -->
    <script src="{% static 'lonely/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lonely/assets/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'lonely/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'lonely/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lonely/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'lonely/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'lonely/assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Stripe payment JS -->
    <script src="https://js.stripe.com/v3/"></script>
    
    <!-- Template Main JS File -->
    <script src="{% static 'lonely/assets/js/main.js' %}"></script>

    <!-- Footer Position JS -->
    <script src="{% static 'js/footerPosition.js' %}"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/0ead8c87cb.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block postload_js %}
    {% endblock %}

</body>

</html>